{% extends 'form_div_layout.html.twig' %}

{% block number_widget %}
  {% set type = type|default('range') %}
  <label for="{{ name }}">{{ name }}</label>
  <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" data-highlight="true" />
{% endblock %}