<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>{% block title %}Health Portal{% endblock %}</title>
        {% stylesheets '@EnymindHealthWelcomeBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript">
          var translations = new Array();
          translations["plem"] = '{% trans %}Requested page not found!{% endtrans %}';
          translations["pama"] = '{% trans %}Password missmatch!{% endtrans %}';
          translations["cnpa"] = '{% trans %}Could not process action!{% endtrans %}';
        </script>
        {% javascripts '@EnymindHealthWelcomeBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
    <div id="free-popup" data-role="popup" data-theme="e" data-overlay-theme="a" class="ui-content free-message">
      ...
    </div>
    <div data-role="page" id="page-{% block pagename %}{% endblock %}" data-dom-cache="{% block data-dom-cache %}false{% endblock %}">
        {% if app.session.hasFlash('notice') %}
            <div id="notice-popup" data-role="popup" data-theme="e" data-overlay-theme="a" class="flash-popup ui-content notice-message">
              {{ app.session.flash('notice') }}
            </div>
        {% endif %}
        {% if app.session.hasFlash('warning') %}
            <div id="warning-popup" data-role="popup" data-theme="e" data-overlay-theme="a" class="flash-popup ui-content warning-message">
              {{ app.session.flash('warning') }}
            </div>
        {% endif %}
        {% if app.session.hasFlash('error') %}
            <div id="error-popup" data-role="popup" data-theme="e" data-overlay-theme="a" class="flash-popup ui-content error-message">
              {{ app.session.flash('error') }}
            </div>
        {% endif %}
        <div data-theme="a" data-role="header" data-tap-toggle="false" data-position="fixed">
            {% block header %}{% endblock %}
        </div>
        <div data-role="content">
            {% block body %}{% endblock %}
        </div>
        <div data-theme="c" data-role="footer" id="page-footer" data-tap-toggle="false" data-position="fixed">
            <h4>v1.0 rev 131 - TESTING - Enymind Oy 2012</h4>
        </div>
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
