{% extends '::base.html.twig' %}

{% block pagename %}secure-enter-form{% endblock %}

{% block header %}
  <a href="/secure/enter" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Enter entry{% endtrans %}</h1>
{% endblock %}

{% block body %}
  <p>{% trans %}Fill entry value bellow:{% endtrans %}</p>
  <h3>{{ entryType.name }}</h3>
  <p>{{ entryType.description }}</p>

  <form action="/secure/enter/{{ entryType.id }}/save" method="post" id="entry-form">
    <label for="value-slider-fill">{% trans %}Value in{% endtrans %} {{ entryType.quantity }}:</label>
    <input type="range" name="value" id="value-slider-fill" value="{{ defaultValue }}" min="{{ entryType.min }}" max="{{ entryType.max }}" data-highlight="true" />
    <button type="submit" name="submit" value="submit" data-icon="check" data-theme="b">{% trans %}Add entry{% endtrans %}</button>
  </form>

{% endblock %}