{% extends '::base.html.twig' %}

{% block pagename %}secure-report{% endblock %}

{% block header %}
  <a href="/secure" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Report{% endtrans %}</h1>
{% endblock %}

{% block body %}
  <p><strong>{% trans %}Number of entries:{% endtrans %}</strong> {{ entries|length }}</p>
  
  <ul data-role="listview" data-autodividers="true" data-filter-placeholder="{% trans %}Filter by date...{% endtrans %}" data-filter="true">
    {% for entry in entries %}
      <li data-filtertext="{{ entry.added|date('Y-m-d') }}">
        <span style="display: none">{{ entry.added|date('Y-m-d') }}</span>
        <div class="ui-grid-b">
          <div class="ui-block-a"><strong>{{ entry.typeId.name }}:</strong></div>
          <div class="ui-block-b">{{ entry.value }}</div>
          <div class="ui-block-c">{{ entry.typeId.quantity }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}