{% extends '::base.html.twig' %}

{% block pagename %}secure-manage-types-show{% endblock %}

{% block header %}
  <a href="{{ path('secure_manage_types') }}" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Entry type{% endtrans %}</h1>
{% endblock %}

{% block body %}
  <div>
    <ul data-role="listview">
      <li>
        <p><strong>{% trans %}Name{% endtrans %}</strong></p>
        <p>{{ entity.name }}</p>
      </li>
      <li>
        <p><strong>{% trans %}Description{% endtrans %}</strong></p>
        <p>{{ entity.description }}</p>
      </li>
      <li>
        <p><strong>{% trans %}Min{% endtrans %}</strong></p>
        <p>{{ entity.min }}</p>
      </li>
      <li>
        <p><strong>{% trans %}Max{% endtrans %}</strong></p>
        <p><strong>{{ entity.max }}</p>
      </li>
      <li>
        <p><strong>{% trans %}Quantity{% endtrans %}</strong></p>
        <p>{{ entity.quantity }}</p>
      </li>
    </ul>
  </div>

  <div>
    <a href="{{ path('secure_manage_types_edit', { 'id': entity.id }) }}" data-icon="gear" data-role="button" data-theme="b">{% trans %}Edit{% endtrans %}</a>

    <form action="{{ path('secure_manage_types_delete', { 'id': entity.id }) }}" method="post">
      {{ form_widget(delete_form) }}
      <p><button type="submit" data-icon="delete" data-theme="a">{% trans %}Delete{% endtrans %}</button></p>
    </form>
  </div>
{% endblock %}