{% extends '::base.html.twig' %}

{% block pagename %}secure-manage-group-edit{% endblock %}

{% block header %}
  <a href="{{ path('secure_manage_group') }}" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Edit entry group{% endtrans %}</h1>
{% endblock %}

{% block body %}
  <form class="widget_form" action="{{ path('secure_manage_group_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
      {{ form_widget(edit_form) }}
      <p><button type="submit" data-icon="check" data-theme="b">{% trans %}Save{% endtrans %}</button></p>
  </form>

  <form action="{{ path('secure_manage_group_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <p><button type="submit" data-icon="delete" data-theme="a">{% trans %}Delete{% endtrans %}</button></p>
  </form>
{% endblock %}