{% extends '::base.html.twig' %}

{% block pagename %}secure-manage-group{% endblock %}

{% block header %}
  <a href="/secure" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Manage entry groups{% endtrans %}</h1>
{% endblock %}

{% block body %}
  <div>
    <p><a href="{{ path('secure_manage_group_new') }}" data-icon="plus" data-role="button" data-theme="b">{% trans %}Create a new entry group{% endtrans %}</a></p>
  </div>

  <div>
    <ul data-role="listview" data-inset="true" data-split-icon="gear" data-split-theme="c" data-theme="c" data-divider-theme="c" id="report-ul" data-filter-placeholder="{% trans %}Filter by entry group...{% endtrans %}" data-filter="true">

      {% for entity in entities %}
        <li data-filtertext="{{ entity.name }}">
          <a href="{{ path('secure_manage_group_edit', { 'id': entity.id }) }}">{{ entity.name }}</a>
          <a href="{{ path('secure_manage_group_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}